{% extends 'blog/base.html' %}
                    

{% block content%}
    {% for post in posts%}
    <div class="post">
        <h1>
            <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
        </h1>
        <div class="date">
            <p>published: {{ post.published_date }}</p>
        </div>
        <p>{{ post.text|truncatechars:200 }}</p>
        <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>
    </div>
    {% endfor %}
{% endblock content %}